/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    font-family:Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* COMMON */
.container {
   width: 80%;
   max-width: 1000px;
   margin: 0 auto;
}
/* UTILITIES */
.buttons {
    padding: 10px 20px;
    border-radius: 25px;
}
.bg-lightgray {
    background-color: #F6F6F6;
}
/* Layout */
/* HEADER */
.header {
    background-color: #255EE9;
    height: 80px;
}
.flex-header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #255EE9;
}
.links-header {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.links-header a {
    color: #ffff;
}
.links-header li {
    list-style: none;
}
.login-header {
    background-color:#ffffff ;
}
.logo {
    padding-top: 5px;
    padding-left: 5px;
}
.flex {
    display: flex;
}
.section-header a {
  text-decoration: none;
}
/* MAIN */
.first-section {
    background-image: url(../img/jumbo.png);
    background-size:cover;
    padding-top: 50px;
    padding-bottom: 70px;
}
/* content-1 */
.content-1 {
   width: 50%;
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center; 
   color: #ffff;
   padding: 30px;
   line-height: 30px;
}
.content-1 h1 {
    margin-bottom: 40px;
}
.content-1 a {
    text-decoration: none;
}
.download-mac {
    background-color: #ffffff;
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    color: #000000;
}
.open-discord {
    background-color:#23272A ;
    display: inline-block;
    margin-top: 15px;
    color: #ffff;
}
/* content-2 */
.section-margin-display {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}
.col-70 {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-30 {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-30 h2 {
    font-size: 3em;
    padding-bottom: 40px;
    line-height: 50px;
}
.col-30 p {
    line-height: 25px;

}
.section-5 {
   width: 60%;
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
}
.section-5 h2 {
    padding-top: 30px;
padding-bottom: 20px;
font-size: 2em;
}
.section-5 p {
    line-height: 20px;
}
.col-30{
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-30 h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #7289DA;
}
.col-30 p{
    font-size: 0.7em;
    padding-left: 5px;
    padding-right: 3px;
}
.col-17{
    width: 17.5%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-17 li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.col-17 li a {
    text-decoration: none;
    color: #fff;
}
.col-17 li h3 {
    color: #7289DA;
}
.change-language {
    display: flex;
    color: #fff;
}

.icones {
    color: #ffffff;
    padding: 10px 15px 0px 0px;
}
.bg-dark {
    background-color: #23272A;
}
/* .separator {
    border-bottom: 1px solid #fff;
    margin-left: 10px;
} */
.bandiera-italia {
    width: 15px;
    height: 10px;
    margin-top: 7px;
}
/* FOOTER */
.padding-top20 {
    padding-top: 20px;
}
.footer-flex{
    display: flex;
justify-content: space-between;
align-items: center;
}
.footer-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-elements {
    padding: 2px;
}
.registrati {
   background-color: #255EE9;
   border: 1px solid #255EE9;;
}
